AqueousChemistry01.10.01.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (x64) (http://www.altova.com) by Christy Caudill -->
<xs:schema xmlns:aasg="http://stategeothermaldata.org/uri-gin/aasg/xmlschema/aqueouschemistry/1.10" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gmlsf="http://www.opengis.net/gmlsf" targetNamespace="http://stategeothermaldata.org/uri-gin/aasg/xmlschema/aqueouschemistry/1.10" elementFormDefault="qualified" version="01.10.01">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gmlsf" schemaLocation="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd"/>
	<xs:annotation>
		<!--This XSD document, including XML schema, indicates the content requested for aqueous chemistry data, either for a thermal well or a thermal spring. In the geothermal data system, chemical observations are one of the observation services that are used as a method to discover resources derived from thermal springs or thermal wells with particular characteristics. Each chemical analysis observation should have a unique AnalysisURI and a corresponding SamplingFeatureURI-->
		<!--Version 10.2 changed date types to 'dateTime'. Annotated Version 1.10.1. This XSD document was created on 2013-04-02 and edited on 2013-04-30 to contain descriptive annotation by Christy Caudill, AZGS. SRS description was edited 6/14/2013. This schema is based on the data available in the AASG Web Feature Services created for spring and well chemistry in Arizona. Field Description annotations standardized 2013-08-22 by Esty Pape, AZGS. 
		2015-08-25 SMR fix spelling of geothermalArea attribute on MineralRecoveryBrine featuretype.-->
		<xs:appinfo source="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
			<gmlsf:GMLProfileSchema>
http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsf.xsd </gmlsf:GMLProfileSchema>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="WaterQuality" type="aasg:WaterQualityObsType" substitutionGroup="gml:_Feature"/>
	<xs:element name="CommonAnalytes" type="aasg:WaterChemCommonConstituentsType" substitutionGroup="gml:_Feature"/>
	<xs:element name="BaseMetals" type="aasg:WaterBaseMetalsType" substitutionGroup="gml:_Feature"/>
	<xs:element name="MajorDissolvedConstituents" type="aasg:WaterMajorDissolvedConstituentsType" substitutionGroup="gml:_Feature"/>
	<xs:element name="MinorDissolvedConstituents" type="aasg:WaterMinorDissolvedConstituentsType" substitutionGroup="gml:_Feature"/>
	<xs:element name="Nitrogen" type="aasg:WaterNitrogenObsType" substitutionGroup="gml:_Feature"/>
	<xs:element name="WaterDissolvedGas" type="aasg:WaterDissolvedGasObsType" substitutionGroup="gml:_Feature"/>
	<xs:element name="FreeGas" type="aasg:GasCompositionObsType" substitutionGroup="gml:_Feature"/>
	<xs:element name="WaterIsotopes" type="aasg:WaterIsotopesObsType" substitutionGroup="gml:_Feature"/>
	<xs:element name="GasIsotopes" type="aasg:GasIsotopesObsType" substitutionGroup="gml:_Feature"/>
	<xs:element name="IsotopesDissolved" type="aasg:WaterSupplementalIsotopesObsType" substitutionGroup="gml:_Feature"/>
	<xs:element name="SingleAnalyte" type="aasg:SingleAnalyteChemType" substitutionGroup="gml:_Feature"/>
	<xs:element name="MineralRecoveryBrine" type="aasg:MineralRecoveryBrineType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="SampleAnalysisCommonType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="OBJECTID" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Integer record count, added by ArcGIS servers during service deployment; not required but cannot be removed when deploying from ArcGIS feature class. Not user maintained, so this element appears in XML implementation but not in the Content Model Template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnalysisURI">
						<xs:annotation>
							<xs:documentation>A unique identifier for a discrete analysis of a specimen taken from a feature. The feature from which the specimen was taken will be identified by its own URI.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="AnalysisName" type="xs:string">
						<xs:annotation>
							<xs:documentation>Other human-intelligible labels for analysis such as secondary name or common name, other spellings. Indicate the authority from which the OtherName is derived with a short (lower case) prefix delimited by a colon ':' If identifiers from multiple different authorities are available, delimit these identifiers with the pipe character '|'. For example, if a well were known to the Arizona Geological Survey (AZGS) by the id number 1337, the identifier string would be azgs:1337. Any such prefixes used to scope identifiers should be explained in the dataset metadata. (If there are multiple analyses performed on a single sample, each analysis would correspond to a new line of data in the template.)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notes" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Any additional information to be provided, including description and other data not captured by the template, details about collection method, contact information for related parties (original collector, project PI), collection platform or Launch, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SamplingFeatureName" type="xs:string">
						<xs:annotation>
							<xs:documentation>Common or human-readable name by which the feature is known. Recommend using only web-safe characters (a-z A-Z 0-9 _-.) in the name. Be consistent in the naming convention used within any given dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SamplingFeatureURI">
						<xs:annotation>
							<xs:documentation>Unique Identifier for the particular site (station) or well where the sample(s) came from. For wells, this might be the HeaderURI or API number used in other metadata files. If unavailable, state 'missing'. SamplingFeature is a concept that represents the feature that accesses the part of the Earth from which the sample came, e.g. outcrop, borehole, dredge haul.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SamplingFeatureType" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Type of feature that is the subject of this record: Thermal Spring, Borehole, Well, Pool, Stream.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherSiteID" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Alternative identifier(s) for the feature. Indicate the authority from which the OtherID is derived with a short (lower case) prefix delimited by a colon ':' If identifiers from multiple different authorities are available, delimit these identifiers with the pipe '|' character. For example, if a well were known to the Arizona Geological Survey (AZGS) by the id number 1337, the prefix would be azgs: and the identifier string would be azgs:1337. Any such prefixes used to scope identifiers should be explained in the dataset metadata.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecimenID" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ID given to the specimen by the collector(s). Recommended practice: include a short abbreviation in a prefix indicating the authority or scope of the identifier (e.g. 'usgs:'); any prefixes should be explained in the dataset metadata.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Label" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Short text string for labeling the feature on maps. Can be the same as feature name. A label may be an OtherLocationName, OtherID or the Name or some combination.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecimenDescription" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free text field for any additional observations or other information regarding the feature, any special considerations with this instance (size, weight, quality, lithology, locality, etc).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecimenURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unique identifier for sample; should include protocol prefix with known meaning, delimited by a ':' (colon), e.g. igsn:24623570 or http://resources.usgin.org/uri-gin/AZGS/sample/24623570.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SpecimenCollectionDate" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date for the record: date on which observation, measurement or test was made or specimen was collected. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1', (or '1/1/', or '1-1-', or 'January 1,'). All dates will be converted to yyyy-mm-ddThh:mm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecimenCollectionMethod" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of the process used to collect the analyzed specimen. Include any keywords that may typically be used to categorize sampling procedures. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherAnalyticalData" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text describing other analytical data associated with the analyzed specimen. Best practice: include a URI for observation records reporting related results.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DrilledDepth_ft" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Length of borehole from borehole origin to bottom of borehole. If there are multiple wells, use the depth of the deepest well.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FluidTemperature_C" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Temperature of fluid, in decimal format,  when sampled; all temperatures must be reported in degrees Celsius.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Discharge" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Average measured volume of water per unit of time.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DischargeUnits" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Units for flow rate, either gallons per minute (gpm) or liters per minute (lpm).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="County" type="xs:string">
						<xs:annotation>
							<xs:documentation>Required. County name. If unknown or not applicable use 'missing'. If offshore, specify 'offshore' in this field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="State" type="xs:string">
						<xs:annotation>
							<xs:documentation>Required. State name without abbreviations. If unknown or not applicable use 'missing'. For offshore locations, specify the governing or nearest state and list the county as 'offshore'.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LatDegree" type="xs:double">
						<xs:annotation>
							<xs:documentation>Latitude coordinate for the surface location of the feature (use center point for areas); values should be provided with at least 4 significant digits for sufficient precision (7 decimal places is recommended by the USGS (OFR 02-463, p. 6). Use decimal degrees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LongDegree" type="xs:double">
						<xs:annotation>
							<xs:documentation>Longitude coordinate for the surface location of the feature (use center point for areas); values should be provided with at least 4 significant digits for sufficient precision (7 decimal places is recommended by the USGS (OFR 02-463, p. 6). Use decimal degrees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SRS" type="xs:string">
						<xs:annotation>
							<xs:documentation>The spatial reference system. It is recommended that an EPSG code be used to identify the SRS used to specify the location.  If an EPSG code is used, identify it as such with the prefix 'EPSG:' EPSG:4326 is the identifier for WGS84, and should be the text in this field. EPSG stands for European Petroleum Survey Group. EPSSG codes can be dereferenced by putting the code in this URL (replace 4326) http://spatialreference.org/ref/epsg/4326/.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocationUncertaintyStatement" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Information on how the original location was determined, e.g.: 1:250,000 map, gps unit, Google Earth, PLSS Conversion, Spatial Datum Conversion, e.g., NAD27 to WGS84.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PLSSMeridians" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>List north-south baseline and east-west meridian that Townships and Ranges are referenced to.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Township" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Township in PLSS grid, relative to reported baseline. Formatting and punctuation should be consistent for all locations referenced to the same baseline and meridian. Recommend adding leading '0's so that all number strings are the same length (typically 2 or occasionally 3 digits). Examples 01N, 112S, 001N.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Range" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Range in PLSS grid, relative to reported meridian. Formatting and punctuation should be consistent for all locations referenced to the same baseline meridian. See instructions on TWP field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Section_" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PLSS section number. Must be numeric or null. Some surveys include half sections indicated by a 'nn.5' designation, where n indicates a number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SectionPart" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Subdivision of a PLSS section.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Elevation_ft_msl" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Elevation at ground level for the feature. 3 decimal places is recommended by the USGS (OFR 02-463, p.6). Elevations should be reported relative to mean sea level (MSL).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Source" type="xs:string">
						<xs:annotation>
							<xs:documentation>Mandatory. Short text explanation of source of information defining this feature or record; may be author-date type citation, well log, report, data files etc., but should include some indication of how digital data originated. If unpublished data, provide researcher name, date and research institution for proper citation. Separate multiple citations with pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SourceURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifier, DOI or other URI, for the cited source. Ideally an http URI that may be dereferenced to produce a representation of the original source document.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MetadataURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>URI identifying (and ideally dereferencing to get) a full formal metadata record for the observation report. A time series of observations may all reference the same metadata record that provides contact information and details on procedure, etc.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="AnalysisDateTime" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date for the record: date on which observation, measurement or test was made or specimen was collected. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1', (or '1/1/', or '1-1-', or 'January 1,'). All dates will be converted to yyyy-mm-ddThh:mm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Laboratory" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>If a Laboratory performed the analysis, include name and address here.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnalyticalProcedure" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WaterQualityObsType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="ph_Field" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Field measure of the acidity of an aqueous solution. Report in standard pH format.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ph_Lab" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Field measure of the acidity of an aqueous solution. Report in standard pH format.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecificConductance_mS" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Measurement of the ability of a substance to conduct electricity. Reported in S/m (Siemens/meter).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConductanceNote" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Notes on specific conductance measurements.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Conductance_method" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalDissolvedSolids_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Total dissolved solids reported in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalDissolvedSolids_method" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalSuspendedSolids_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Total suspended solids reported in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalSuspendedSolids_method" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Turbidity_ntu" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Nephelometric (ntu) refers to the way the instrument, a nephelometer, measures how much light is scattered by suspended particles in the water. The greater the scattering, the higher the turbidity. Therefore, low NTU values indicate high water clarity, while high NTU values indicate low water clarity. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Turbidity_method" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WaterChemCommonConstituentsType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="FractionAnalyzed" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Portion of the entire sample tested for this record; select from controlled vocabulary: Total solids, Dissolved solids, Fixed solids, Recoverable solids, Suspended solids, Gas, Liquid.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Br_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ca_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cl_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Fe_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FeTot_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="K_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Na_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Na_K_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Na plus K as specific analytical value not a summary of Na and K results. Report analyte in mg/L.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NO3_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SiO2_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SO4_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Sr_mgL" type="xs:double" minOccurs="0"/>
					<xs:element name="Alkalinity_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Quantitative capacity of water to neutralize an acid. Report in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Alkalinity_method" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Bicarbonate_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Carbonate_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Hardness_CaCO3_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Hardness_method" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalDissolvedSolids_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalDissolvedSolids_method" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WaterBaseMetalsType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="FractionAnalyzed" type="xs:string" minOccurs="0"/>
					<xs:element name="Ag_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Al_monomeric_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Al_total_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="As_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Au_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="B_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ba_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Be_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Bi_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cd_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Co_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cr_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cs_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cu_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Hg_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Li_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Mn_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Mo_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ni_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="P_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Pb_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="S_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Sb_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Se_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Si_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Sn_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ti_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="U_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="V_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="W_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Zn_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WaterMajorDissolvedConstituentsType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="Ca_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cl_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="K_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Mg_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Na_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Na_K_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SiO2_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SO4_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cation_total" type="xs:double" minOccurs="0"/>
					<xs:element name="anion_total" type="xs:double" minOccurs="0"/>
					<xs:element name="Alkalinity_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Alkalinity_method" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="chargeBalance_pct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Ratio of cations to anions as a percent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Hardness_CaCO2" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Hardness_method" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WaterMinorDissolvedConstituentsType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="B_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Br_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Fe_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="H_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="I_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Mn_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NH4_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NO2_field_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NO2_lab_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NO3_field_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NO3_lab_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OH_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PO4_as_P_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Rb_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Sr_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Zr_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WaterNitrogenObsType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="N_Kjeldahl_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Total Kjeldahl Nitrogen or TKN is the sum of organic nitrogen, ammonia (NH3), and ammonium (NH4+) in the chemical analysis of soil, water, or wastewater (e.g. sewage treatment plant effluent). To calculate Total Nitrogen (TN), the concentrations of nitrate-N and nitrite-N are determined and added to TKN. TKN is determined in the same manner as organic nitrogen, except that the ammonia is not driven off before the digestion step. Reported in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NH4_as_N_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NH4_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Nitrate_field_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Nitrate_lab_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NitratePlusNitrite_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Nitrate NO3 plus Nitrite NO2 in mg/L.  Reported in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Nitrite_field_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Nitrite_lab_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NO_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NO2_field_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NO2_lab_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NO3_field_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NO3_lab_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WaterDissolvedGasObsType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="Ar_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CH4_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CO2_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="H2_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="H2S_as_N_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="He_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Kr_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="N2_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ne_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="O2_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GasCompositionObsType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="Ar_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="C2H6_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CH4_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CO2_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="H2_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="H2S_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="He_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Kr_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="N2_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ne_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NH3_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NO_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="O2_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte in mg/L.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="O2plusAr_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Oxygen as O2 plus Ar. Reported as a volume percent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SO2_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte as percent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalFreeGas_volpct" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dissolved gas, reported as a volume percent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WaterIsotopesObsType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="Delta_13C_HCO3" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic Ratio of 13-C:HCO3 in carbonate minerals, reported in parts per thousand (per mil).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delta_13Cmineral_carbonate" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic Ratio of 13-C:12-C in carbonate minerals. In geochemistry, paleoclimatology and paleoceanography 13-C is an isotopic signature, a measure of the ratio of stable isotopes 13-C:12-C, reported in parts per thousand (per mil).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delta_13Ctotal_dissolved" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Ratio of 13-C:12-C in solution. Carbon-13 (13C) is a natural, stable isotope of carbon and one of the environmental isotopes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delta18O_sulfate" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The delta 18-O value in sulfate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delta18Omineral_sulfate" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic Ratio of 18-O:16-O in sulfate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delta34S" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report in ppm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r11B_10B" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Carbon-14 as a percent of modern carbon, calibrated. Carbon-14, 14C, or radiocarbon, is a radioactive isotope of carbon with a nucleus containing 6 protons and 8 neutrons.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r14C_pctModern" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Carbon-14 as a percent of modern carbon, calibrated.  Carbon-14, 14C, or radiocarbon, is a radioactive isotope of carbon with a nucleus containing 6 protons and 8 neutrons.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r206Pb_204Pb_diss" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic Ratio of 206-Pb : 204-Pb dissolved in solution. Lead (Pb) has four stable isotopes: 204Pb, 206Pb, 207Pb, 208Pb. Lead-204 is entirely a primordial nuclide and none of it is radiogenic. The isotopes lead-206, lead-207, and lead-208 represent the ends of decay chains called the uranium series (or radium series), the thorium series, and the actinium series respectively. These series represent the decay chain products of long-lived primoridal U-238, U-235, and Th-232 respectively.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r206Pb_204Pb_rock" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic ratio of 207-Pb : 204-Pb in a rock sample. Lead (Pb) has four stable isotopes: 204Pb, 206Pb, 207Pb, 208Pb. Lead-204 is entirely a primordial nuclide and none of it is radiogenic. The isotopes lead-206, lead-207, and lead-208 represent the ends of decay chains called the uranium series (or radium series), the thorium series, and the actinium series respectively. These series represent the decay chain products of long-lived primoridal U-238, U-235, and Th-232 respectively.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r207Pb_204Pb_diss" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic Ratio of 207-Pb : 204-Pb dissolved in solution. Lead (Pb) has four stable isotopes: 204Pb, 206Pb, 207Pb, 208Pb. Lead-204 is entirely a primordial nuclide and none of it is radiogenic. The isotopes lead-206, lead-207, and lead-208 represent the ends of decay chains called the uranium series (or radium series), the thorium series, and the actinium series respectively. These series represent the decay chain products of long-lived primoridal U-238, U-235, and Th-232 respectively.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r207Pb_204Pb_rock" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic ratio of 207-Pb : 204-Pb in a rock sample. Lead (Pb) has four stable isotopes: 204Pb, 206Pb, 207Pb, 208Pb. Lead-204 is entirely a primordial nuclide and none of it is radiogenic. The isotopes lead-206, lead-207, and lead-208 represent the ends of decay chains called the uranium series (or radium series), the thorium series, and the actinium series respectively. These series represent the decay chain products of long-lived primoridal U-238, U-235, and Th-232 respectively.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r208Pb_204Pb_diss" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic Ratio of 208-Pb : 204-Pb dissolved in solution. Lead (Pb) has four stable isotopes: 204Pb, 206Pb, 207Pb, 208Pb. Lead-204 is entirely a primordial nuclide and none of it is radiogenic. The isotopes lead-206, lead-207, and lead-208 represent the ends of decay chains called the uranium series (or radium series), the thorium series, and the actinium series respectively. These series represent the decay chain products of long-lived primoridal U-238, U-235, and Th-232 respectively.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r208Pb_204Pb_rock" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic ratio of 208-Pb : 204-Pb in a rock sample. Lead (Pb) has four stable isotopes: 204Pb, 206Pb, 207Pb, 208Pb. Lead-204 is entirely a primordial nuclide and none of it is radiogenic. The isotopes lead-206, lead-207, and lead-208 represent the ends of decay chains called the uranium series (or radium series), the thorium series, and the actinium series respectively. These series represent the decay chain products of long-lived primoridal U-238, U-235, and Th-232 respectively.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r87Sr_86Sr" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic ratios for the stable isotope strontium measured in 87-Sr:87-Sr in a rock sample.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GasIsotopesObsType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="Delta13C_CO2" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Delta 13-C as CO2. Carbon-13 (13C) is a natural, stable isotope of carbon and one of the environmental isotopes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delta13C_CH4" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The delta 13-C value in CH4.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delta144Nd_143Nd" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Delta 144Nd/143Nd ratio.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delta15N_N2" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Delta 15N/N2 ratio. There are two stable isotopes of nitrogen: 14N and 15N.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delta18O_CO2" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Delta 18-O/CO2. In geochemistry, paleoclimatology and paleoceanography delta-O-18 is a measure of the ratio of stable isotopes 18O:16O.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delta34S_H2S" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Delta 34S/H2S ratio.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delta34S_SO4" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Delta 34S/SO4 ratio.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r3He_4He" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic ratios for the helium isotopes 3-He:4-He in a rock sample.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WaterSupplementalIsotopesObsType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="AlphaParticleActivity_pCiL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Alpha particles are a form of ionizing radiation that is given off by radioactive materials such as uranium and radon. Reported in PicoCuries per liter.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ce_mgL" type="xs:double" minOccurs="0"/>
					<xs:element name="Delta18O_H2O" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Delta 18-O in water.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Delta18O_steam" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Delta 18-O in steam.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeltaDeuterium_H2O" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Deuterium in water; often used as a tracer in groundwater hydrology, deterium can be found in most natural waters (a.k.a. "Heavy Water").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeltaDeuterium_steam" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Deuterium in steam; often used as a tracer in groundwater hydrology, deterium can be found in most natural waters (a.k.a. "Heavy Water").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ge_mgL" type="xs:double" minOccurs="0"/>
					<xs:element name="r18O_16O" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic ratios 18-O:16-O for the stable isotope O.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r228Ra" type="xs:double" minOccurs="0"/>
					<xs:element name="r230Th" type="xs:double" minOccurs="0"/>
					<xs:element name="r232Th" type="xs:double" minOccurs="0"/>
					<xs:element name="r234U" type="xs:double" minOccurs="0"/>
					<xs:element name="r234U_238U" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic ratio of uranium-234:uranium-238.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r235U" type="xs:double" minOccurs="0"/>
					<xs:element name="r238U" type="xs:double" minOccurs="0"/>
					<xs:element name="r3H_2H" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic ratio of hydrogen-3:hydrogen-2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r3He_4He" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic ratio of helium-3:helium-4.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="r3He_2He" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Isotopic ratio of helium-3:helium-2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ra226Total_pCiL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Total radium-226 reported in PicoCuries per liter.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Rn222_pCiL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Total radon-222 reported in PicoCuries per liter.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Te_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte as percent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Th_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte as percent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalRa_pCiL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Total radium reported in PicoCuries per liter.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Tritium_TU" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Tritium measured in Tritium Units, where 1 TU is defined as the ratio of 1 tritium atom to 1018 hydrogen atoms.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="U_activity_pCiL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Uranium as reported in PicoCuries per liter.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="U_mgL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report analyte as percent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SingleAnalyteChemType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="analyte" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Specifies the analyte described by this suite.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="result" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text field describing the results of the single analyte analysis.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="units" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Units reported in the single analyte analysis.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uncertainty" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Measure of uncertainty of the results.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qualifier" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Statement regarding the single analyte.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measurementMethod" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check. If following a paper or standard include reference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MineralRecoveryBrineType">
		<xs:complexContent>
			<xs:extension base="aasg:SampleAnalysisCommonType">
				<xs:sequence>
					<xs:element name="UTMZone" type="xs:string" minOccurs="0"/>
					<xs:element name="UTME" type="xs:string" minOccurs="0"/>
					<xs:element name="UTMN" type="xs:string" minOccurs="0"/>
					<xs:element name="Units" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicate the units of the analytes in this section (layer). If mutliple units are used, indicate here.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FluidOrigin" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>magmatic, meteoric, etc. List if multiple possible sources.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GeothermalArea" type="xs:string" minOccurs="0"/>
					<xs:element name="REE_Method" type="xs:string" minOccurs="0"/>
					<xs:element name="pH" type="xs:double" minOccurs="0"/>
					<xs:element name="Ac" type="xs:double" minOccurs="0"/>
					<xs:element name="Ag" type="xs:double" minOccurs="0"/>
					<xs:element name="Am" type="xs:double" minOccurs="0"/>
					<xs:element name="Au" type="xs:double" minOccurs="0"/>
					<xs:element name="B" type="xs:double" minOccurs="0"/>
					<xs:element name="Ba" type="xs:double" minOccurs="0"/>
					<xs:element name="Bk" type="xs:double" minOccurs="0"/>
					<xs:element name="Ce" type="xs:double" minOccurs="0"/>
					<xs:element name="Cf" type="xs:double" minOccurs="0"/>
					<xs:element name="Cm" type="xs:double" minOccurs="0"/>
					<xs:element name="Dy" type="xs:double" minOccurs="0"/>
					<xs:element name="Er" type="xs:double" minOccurs="0"/>
					<xs:element name="Es" type="xs:double" minOccurs="0"/>
					<xs:element name="Eu" type="xs:double" minOccurs="0"/>
					<xs:element name="Fm" type="xs:double" minOccurs="0"/>
					<xs:element name="Ga" type="xs:double" minOccurs="0"/>
					<xs:element name="Gd" type="xs:double" minOccurs="0"/>
					<xs:element name="Hf" type="xs:double" minOccurs="0"/>
					<xs:element name="Ho" type="xs:double" minOccurs="0"/>
					<xs:element name="In" type="xs:double" minOccurs="0"/>
					<xs:element name="La" type="xs:double" minOccurs="0"/>
					<xs:element name="Li" type="xs:double" minOccurs="0"/>
					<xs:element name="Lo" type="xs:double" minOccurs="0"/>
					<xs:element name="Lu" type="xs:double" minOccurs="0"/>
					<xs:element name="Lr" type="xs:double" minOccurs="0"/>
					<xs:element name="Md" type="xs:double" minOccurs="0"/>
					<xs:element name="Mn" type="xs:double" minOccurs="0"/>
					<xs:element name="Na" type="xs:double" minOccurs="0"/>
					<xs:element name="Nb" type="xs:double" minOccurs="0"/>
					<xs:element name="Nd" type="xs:double" minOccurs="0"/>
					<xs:element name="No" type="xs:double" minOccurs="0"/>
					<xs:element name="Np" type="xs:double" minOccurs="0"/>
					<xs:element name="Pa" type="xs:double" minOccurs="0"/>
					<xs:element name="Pm" type="xs:double" minOccurs="0"/>
					<xs:element name="Pd" type="xs:double" minOccurs="0"/>
					<xs:element name="Pr" type="xs:double" minOccurs="0"/>
					<xs:element name="Pt" type="xs:double" minOccurs="0"/>
					<xs:element name="Pu" type="xs:double" minOccurs="0"/>
					<xs:element name="Re" type="xs:double" minOccurs="0"/>
					<xs:element name="Sc" type="xs:double" minOccurs="0"/>
					<xs:element name="Si" type="xs:double" minOccurs="0"/>
					<xs:element name="Sm" type="xs:double" minOccurs="0"/>
					<xs:element name="Ta" type="xs:double" minOccurs="0"/>
					<xs:element name="Te" type="xs:double" minOccurs="0"/>
					<xs:element name="Tb" type="xs:double" minOccurs="0"/>
					<xs:element name="Tc" type="xs:double" minOccurs="0"/>
					<xs:element name="Th" type="xs:double" minOccurs="0"/>
					<xs:element name="Tm" type="xs:double" minOccurs="0"/>
					<xs:element name="U" type="xs:double" minOccurs="0"/>
					<xs:element name="Y" type="xs:double" minOccurs="0"/>
					<xs:element name="Yb" type="xs:double" minOccurs="0"/>
					<xs:element name="Zn" type="xs:double" minOccurs="0"/>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
